/* ==UserStyle==
@name           learn.uwaterloo.ca
@namespace      github.com/openstyles/stylus
@version        0.1.0
@description    Dark theme for uWaterloo LEARN over the Daylight Theme, cause who wants daylight that hurts your eyes
@author         Japorized
==/UserStyle== */

@-moz-document domain("uwaterloo.ca") {
	/*--- General ---*/
	#d2l_body, .d2l-body {
		background-color: #2d2d2d;
		padding-bottom: 150px;
	}
	
	span.d2l-navigation-link-image:before {
		content: 'Waterloo LEARN';
		color: #ededed;
		font-weight: 700;
		font-size: 30px;
	}
	
	span.d2l-navigation-link-image, img.d2l-navigation-link-image {
		display: none;		
	}
	
	.d2l-htmlblock a, .d2l-htmlblock a:active, .d2l-htmlblock a:link, .d2l-htmlblock a:visited, .d2l-link-0 .d2l-link-elem.d2l-link, .d2l-link-0 .d2l-link-elem.d2l-link:active, .d2l-link-0 .d2l-link-elem.d2l-link:link, .d2l-link-0 .d2l-link-elem.d2l-link:visited, .d2l-link, .d2l-link:active, .d2l-link:link, .d2l-link:visited, .d2l-link.d2l-link-flat:focus, .d2l-link.d2l-link-flat:hover, .d2l-linkheading-link.d2l-link-flat:focus, .d2l-linkheading-link.d2l-link-flat:hover, .vui-breadcrumbs > div > a, .vui-breadcrumbs > div > a:active, .vui-breadcrumbs > div > a:link, .vui-breadcrumbs > div > a:visited, .vui-breadcrumbs > li > a, .vui-breadcrumbs > li > a:active, .vui-breadcrumbs > li > a:link, .vui-breadcrumbs > li > a:visited, .vui-breadcrumbs > span > a, .vui-breadcrumbs > span > a:active, .vui-breadcrumbs > span > a:link, .vui-breadcrumbs > span > a:visited, .d2l-filelink-link > .d2l-filelink-link-text, .d2l-text-imagelink > .d2l-text-imagelink-text, d2l-navigation-main-footer.d2l-navigation-main-footer-container div.d2l-navigation-s-item a:link, d2l-navigation-main-footer.d2l-navigation-main-footer-container div.d2l-navigation-s-item a:visited, .d2l-branding-navigation-dark-foreground-color span.d2l-navigation-s-group-wrapper span.d2l-navigation-s-group-text {
		color: #cd84cd;
		-moz-transition: all .2s ease-in-out;
		-webkit-transition: all .2s ease-in-out;
		transition: all .2s ease-in-out;
	}
	
	.d2l-htmlblock a.d2l-link-focus, .d2l-htmlblock a:focus, .d2l-htmlblock a:hover, .d2l-link-0 .d2l-link-elem.d2l-link:focus, .d2l-link-0 .d2l-link-elem.d2l-link:hover, .d2l-link-0.d2l-link-focus .d2l-link-elem.d2l-link, .d2l-link.d2l-link-focus, .d2l-link:focus, .d2l-link:hover, .d2l-imagelink:focus:not(.d2l-imagelink-disabled) d2l-icon, .d2l-imagelink:hover:not(.d2l-imagelink-disabled) d2l-icon, .vui-breadcrumbs > div > a:focus, .vui-breadcrumbs > div > a:hover, .vui-breadcrumbs > li > a:focus, .vui-breadcrumbs > li > a:hover, .vui-breadcrumbs > span > a:focus, .vui-breadcrumbs > span > a:hover, .d2l-all-courses-0 .focus.d2l-all-courses, .d2l-all-courses-0 button.d2l-all-courses:focus > d2l-icon.d2l-all-courses, .d2l-all-courses-0 button.d2l-all-courses:focus > span.d2l-all-courses, .d2l-all-courses-0 button.d2l-all-courses:hover > d2l-icon.d2l-all-courses, .d2l-all-courses-0 button.d2l-all-courses:hover > span.d2l-all-courses, .d2l-simple-overlay-close-button-0 .close-button.d2l-simple-overlay-close-button:focus d2l-icon.d2l-simple-overlay-close-button, .d2l-simple-overlay-close-button-0 .close-button.d2l-simple-overlay-close-button:hover d2l-icon.d2l-simple-overlay-close-button, .d2l-filelink-link:focus > .d2l-filelink-link-text, .d2l-filelink-link:hover > .d2l-filelink-link-text, .d2l-text-imagelink:focus > .d2l-text-imagelink-text, .d2l-text-imagelink:hover > .d2l-text-imagelink-text {
		color: #cd98cd;
	}
	
	.daylight .d2l-widget-header .d2l-heading.vui-heading-2, .d2l-filelink-filesize {
		color: #dadada;
	}
	
	/*--- Header ---*/
	.d2l-navigation-s, .d2l-navigation-s-no-login, d2l-navigation-main-footer.d2l-navigation-main-footer-container, .d2l-widget, d2l-card, d2l-card.d2l-card-0 {
		background-color: #2d2d2d;
		color: #ededed;
	}
	
	.d2l-navigation-s-header {
		border-bottom: 1px solid #000;
	}
	
	.d2l-navigation-s-logo-link:after {
		color: #ededed;
		font-family: 'Helvetica Neue', sans-serif;
		font-size: 30px;
		font-weight: 700;
		content: 'Waterloo LEARN';
	}
	
	.d2l-navigation-s-logo-link img {
		display: none;
	}
	
	.d2l-typography, .d2l-navigation-s-button-highlight, .d2l-icon-0 {
		color: #ededed;
	}
	
	.d2l-dropdown-content-0 .d2l-dropdown-content-width.d2l-dropdown-content, .d2l-dropdown-content-1 .d2l-dropdown-content-width.d2l-dropdown-content {
		background-color: #2d2d2d;
		border-color: #cd98cd;
	}
	
	.d2l-filter-menu-0 #contentView.d2l-filter-menu {
		background: none;
	}
	
	.d2l-filter-menu-0 .dropdown-content-tab-button.d2l-filter-menu {
		color: #ededed;
	}
	
	.d2l-filter-list-item-0, .d2l-all-courses-0 .dropdown-content-gradient.d2l-all-courses, .d2l-menu-item-radio-0 {
		background: transparent;
	}
	
	button.d2l-navigation-s-button-highlight[data-active], button.d2l-navigation-s-button-highlight[data-active] d2l-icon {
		color: #cd98cd;
	}
	
	.d2l-navigation-s-main {
		border-bottom: 1px solid #000;
	}
	
	.d2l-navigation-s-button-highlight:focus d2l-icon, .d2l-navigation-s-button-highlight:hover d2l-icon, button.d2l-navigation-s-button-highlight:focus, button.d2l-navigation-s-button-highlight:hover {
		color: #cd98cd;
	}
	
	.d2l-navigation-s-highlight-bar, .d2l-navigation-s-button-highlight[data-active] .d2l-navigation-s-highlight-bar, .d2l-filter-menu-0 .dropdown-content-tab-highlight.d2l-filter-menu {
		background-color: #cd98cd;
	}
	
	a.d2l-navigation-s-link, a.d2l-navigation-s-link:link, a.d2l-navigation-s-link:visited, .d2l-navigation-s-group {
		color: #ededed;
		-moz-transition: all .2s ease-in-out;
		-webkit-transition: all .2s ease-in-out;
		transition: all .2s ease-in-out;
	}
	
	a.d2l-navigation-s-link:focus, a.d2l-navigation-s-link:hover, .d2l-navigation-s-group:focus, .d2l-navigation-s-group:focus d2l-icon, .d2l-navigation-s-group:hover, .d2l-navigation-s-group:hover d2l-icon {
		color: #cd98cd;
	}
	
	.d2l-dropdown-menu-0 .d2l-dropdown-content-width.d2l-dropdown-menu, .d2l-dropdown-menu-0 .d2l-dropdown-content-pointer.d2l-dropdown-menu > div.d2l-dropdown-menu, .d2l-dropdown-content-1 .d2l-dropdown-content-pointer.d2l-dropdown-content > div.d2l-dropdown-content, .d2l-dropdown-content-0 .d2l-dropdown-content-pointer.d2l-dropdown-content > div.d2l-dropdown-content {
		background-color: #2d2d2d;
		border: 1px solid #cd98cd;
	}
	
	.d2l-dropdown-menu-0 {
		color: #ededed;
	}
	
	d2l-menu-item, d2l-menu-item-link {
		background-color: #2d2d2d;
		-moz-transition: all .2s ease-in-out;
		-webkit-transition: all .2s ease-in-out;
		transition: all .2s ease-in-out;
	}
	
	.d2l-menu-0 .d2l-menu-items.d2l-menu > [role="menuitem"], .d2l-menu-0 .d2l-menu-items.d2l-menu > [role="menuitemcheckbox"], .d2l-menu-0 .d2l-menu-items.d2l-menu > [role="menuitemradio"], .d2l-menu-0 .d2l-menu-items.d2l-menu d2l-menu-item-return[role="menuitem"].d2l-menu {
		border: 1px solid #1c1c1c;
		color: #ededed;
	}
	
	.d2l-menu-0 .d2l-menu-items.d2l-menu > .d2l-menu-item-first[role="menuitem"]:focus, .d2l-menu-0 .d2l-menu-items.d2l-menu > .d2l-menu-item-first[role="menuitem"]:hover, .d2l-menu-0 .d2l-menu-items.d2l-menu > .d2l-menu-item-first[role="menuitemcheckbox"]:focus, .d2l-menu-0 .d2l-menu-items.d2l-menu > .d2l-menu-item-first[role="menuitemcheckbox"]:hover, .d2l-menu-0 .d2l-menu-items.d2l-menu > .d2l-menu-item-first[role="menuitemradio"]:focus, .d2l-menu-0 .d2l-menu-items.d2l-menu > .d2l-menu-item-first[role="menuitemradio"]:hover, .d2l-menu-0 .d2l-menu-items.d2l-menu > [role="menuitem"]:focus, .d2l-menu-0 .d2l-menu-items.d2l-menu > [role="menuitem"]:hover, .d2l-menu-0 .d2l-menu-items.d2l-menu > [role="menuitemcheckbox"]:focus, .d2l-menu-0 .d2l-menu-items.d2l-menu > [role="menuitemcheckbox"]:hover, .d2l-menu-0 .d2l-menu-items.d2l-menu > [role="menuitemradio"]:focus, .d2l-menu-0 .d2l-menu-items.d2l-menu > [role="menuitemradio"]:hover, .d2l-menu-0 .d2l-menu-items.d2l-menu d2l-menu-item-return[role="menuitem"].d2l-menu:focus, .d2l-menu-0 .d2l-menu-items.d2l-menu d2l-menu-item-return[role="menuitem"].d2l-menu:hover {
		color: #cd98cd;
	}
	
	.d2l-menu-0 .d2l-menu-items.d2l-menu > .d2l-menu-item-first[role="menuitem"]:focus, .d2l-menu-0 .d2l-menu-items.d2l-menu > .d2l-menu-item-first[role="menuitem"]:hover, .d2l-menu-0 .d2l-menu-items.d2l-menu > .d2l-menu-item-first[role="menuitemcheckbox"]:focus, .d2l-menu-0 .d2l-menu-items.d2l-menu > .d2l-menu-item-first[role="menuitemcheckbox"]:hover, .d2l-menu-0 .d2l-menu-items.d2l-menu > .d2l-menu-item-first[role="menuitemradio"]:focus, .d2l-menu-0 .d2l-menu-items.d2l-menu > .d2l-menu-item-first[role="menuitemradio"]:hover, .d2l-menu-0 .d2l-menu-items.d2l-menu > [role="menuitem"]:focus, .d2l-menu-0 .d2l-menu-items.d2l-menu > [role="menuitem"]:hover, .d2l-menu-0 .d2l-menu-items.d2l-menu > [role="menuitemcheckbox"]:focus, .d2l-menu-0 .d2l-menu-items.d2l-menu > [role="menuitemcheckbox"]:hover, .d2l-menu-0 .d2l-menu-items.d2l-menu > [role="menuitemradio"]:focus, .d2l-menu-0 .d2l-menu-items.d2l-menu > [role="menuitemradio"]:hover, .d2l-menu-0 .d2l-menu-items.d2l-menu d2l-menu-item-return[role="menuitem"].d2l-menu:focus, .d2l-menu-0 .d2l-menu-items.d2l-menu d2l-menu-item-return[role="menuitem"].d2l-menu:hover {
		background-color: #3e3e3e;
		border-top: 1px solid #1c1c1c;
		border-bottom: 1px solid #1c1c1c;
	}
	
	.d2l-menu-0 .d2l-menu-items.d2l-menu > .d2l-menu-item-last[role="menuitem"]:focus, .d2l-menu-0 .d2l-menu-items.d2l-menu > .d2l-menu-item-last[role="menuitem"]:hover, .d2l-menu-0 .d2l-menu-items.d2l-menu > .d2l-menu-item-last[role="menuitemcheckbox"]:focus, .d2l-menu-0 .d2l-menu-items.d2l-menu > .d2l-menu-item-last[role="menuitemcheckbox"]:hover, .d2l-menu-0 .d2l-menu-items.d2l-menu > .d2l-menu-item-last[role="menuitemradio"]:focus, .d2l-menu-0 .d2l-menu-items.d2l-menu > .d2l-menu-item-last[role="menuitemradio"]:hover {
		border-bottom-color: #1c1c1c;
	}
	
	.d2l-navigation-s-shadow-gradient {
		background: none;
	}
	
	.d2l-navigation-s-button {
		background-color: #2d2d2d;
		transition: all .2s ease-in-out;
		border: none;
	}
	
	.d2l-navigation-s-button:focus, .d2l-navigation-s-button:hover {
		color: #cd98cd;
	}
	
	.d2l-navigation-s-button:focus d2l-icon, .d2l-navigation-s-button:hover d2l-icon {
		color: #cd98cd;
		height: inherit;
		width: inherit;
	}
	
	.vui-heading-collapsible > .vui-heading-collapsible-changed[aria-expanded="false"], .vui-heading-collapsible > .vui-heading-collapsible-changed[aria-expanded="false"]:focus, .vui-heading-collapsible > .vui-heading-collapsible-changed[aria-expanded="false"]:hover, .vui-list > .vui-active, .vui-list > .vui-selected {
		background-color: #2d2d2d;
	}
	
	.vui-list > .vui-active.vui-selected {
		background-color: #3e3e3e;
	}
	
	.vui-list > .vui-selected + li {
		border-top-color: #707369;
	}
	
	d2l-menu-item-return {
		background-color: #1c1c1c;
		-moz-transition: all .2s ease-in-out;
		-webkit-transition: all .2s ease-in-out;
		transition: all .2s ease-in-out;
	}
	
	/*--- Contents ---*/
	.d2l-image-tile-0, .d2l-image-tile-1 {
		background: #1c1c1c;
		color: #ededed;
		padding: 10px;
	}
	
	.d2l-image-tile-base-0 .d2l-image-tile-base-link.d2l-image-tile-base {
		color: #ededed;
	}
	
	.d2l-all-courses-0 .dropdown-button.d2l-all-courses {
		color: #ededed;
	}
	
	.d2l-simple-overlay-0 {
		background: #2d2d2d;
		border-top-color: #cd98cd;
	}
	
	.d2l-simple-overlay-0 .scrollable.d2l-simple-overlay {
		background: transparent;
	}
	
	iframe.d2l-iframe {
		border: 3px double #fff;
		background: transparent;
	}
	
	.daylight .d2l-collapsepane .d2l-collapsepane-header {
		background: #1c1c1c;
	}
	
	.d2l_1_83_197, .d2l_1_62_804, .d2l_1_47_673 {
		background-color: #2d2d2d;
	}
	
	.daylight .d2l-msg-container {
		background-color: transparent;
		color: #ededed;
		border: none;
	}
	
	.d2l_1_84_280 {
		border-right: 1px solid #cdcdcd;
		border-bottom: 1px solid #cdcdcd;
		border-left: 1px solid #cdcdcd;
	}
	
	.d2l-textblock.d2l_1_99_416 {
		color: #dadada;
		font-weight: 700;
	}
	
	.d2l-twopanelselector-side-bg.d2l-twopanelselector-side-sep, .d2l-twopanelselector-side.d2l-twopanelselector-side-sep {
		background: #1c1c1c;
		border: 1px solid #3d3d3d;
	}
	
	.vui-input-search-container input[type="text"], .vui-input-search-container input[type="text"]:hover:disabled, .vui-input-search-container input[type="search"], .vui-input-search-container input[type="search"]:hover:disabled {
		background-color: #3e3e3e;
	}
	
	.vui-input-search-container input[type="text"], .vui-input-search-container input[type="search"] {
		color: #ededed;
	}
	
	.vui-input-search-container input[type="text"].vui-input-focus, .vui-input-search-container input[type="text"]:focus, .vui-input-search-container input[type="text"]:hover, .vui-input-search-container input[type="search"].vui-input-focus, .vui-input-search-container input[type="search"]:focus, .vui-input-search-container input[type="search"]:hover {
		border-color: #cd98cd;
	}
	
	.d2l-collapsepane div[id^="d2l_"].d2l-collapsepane-content {
		background-color: #3e3e3e;
	}
	
	.daylight #ContentModuleTree .d2l-le-TreeAccordionItem.d2l-le-TreeAccordionItem-Selected > a.d2l-le-TreeAccordionItem-anchor::before, .daylight #ContentModuleTree .d2l-le-TreeAccordionItem.d2l-le-TreeAccordionItem-Selected > a.d2l-le-TreeAccordionItem-anchor:link::before, .daylight #ContentModuleTree .d2l-le-TreeAccordionItem.d2l-le-TreeAccordionItem-Selected > a.d2l-le-TreeAccordionItem-anchor:visited::before, .daylight #ContentModuleTree .d2l-le-TreeAccordionItem.d2l-le-TreeAccordionItem-Selected > a.d2l-le-TreeAccordionItem-anchor:hover::before, .daylight #ContentModuleTree .d2l-le-TreeAccordionItem.d2l-le-TreeAccordionItem-Selected > a.d2l-le-TreeAccordionItem-anchor:focus::before {
		background: #3e3e3e;
	}
	
	.daylight #ContentModuleTree a.d2l-le-TreeAccordionItem-anchor, .daylight #ContentModuleTree a.d2l-le-TreeAccordionItem-anchor:link, .daylight #ContentModuleTree a.d2l-le-TreeAccordionItem-anchor:visited, .daylight #ContentModuleTree a.d2l-le-TreeAccordionItem-anchor:hover, .daylight #ContentModuleTree a.d2l-le-TreeAccordionItem-anchor:focus {
		color: #ededed;
	}
	
	.daylight #ContentModuleTree a.d2l-le-TreeAccordionItem-anchor:hover .d2l-inline .d2l-textblock:first-child, .daylight #ContentModuleTree a.d2l-le-TreeAccordionItem-anchor:focus .d2l-inline .d2l-textblock:first-child, .daylight #ContentModuleTree a.d2l-le-TreeAccordionItem-anchor:hover .d2l-tree-browser-icon, .daylight #ContentModuleTree a.d2l-le-TreeAccordionItem-anchor:focus .d2l-tree-browser-icon {
		color: #cd98cd;
		text-decoration: none;
	}
	
	.d2l-floating-container {
		border: 1px solid #3e3e3e;
		background-color: #1c1c1c;
	}
	
	.vui-dropdown-menu-item-link {
		-moz-transition: all .2s ease-in-out;
		-webkit-transition: all .2s ease-in-out;
		transition: all .2s ease-in-out;
	}
	.vui-dropdown-menu-item-link:focus, .vui-dropdown-menu-item-link:hover {
		color: #cd98cd;
	}
	
	.vui-changed, .vui-dropdown-menu > ul > li.d2l-last-visible-item, .vui-dropdown-menu > ul > li {
		-moz-transition: all .2s ease-in-out;
		-webkit-transition: all .2s ease-in-out;
		transition: all .2s ease-in-out;
	}
	.vui-changed, .vui-dropdown-menu > ul > li.d2l-last-visible-item.vui-dropdown-menu-item-focus, .vui-dropdown-menu > ul > li.vui-dropdown-menu-item-focus {
		background-color: #3e3e3e;
	}
	
	.vui-dropdown-menu > ul > li.d2l-last-visible-item.vui-dropdown-menu-item-focus, .vui-dropdown-menu > ul > li.vui-dropdown-menu-item-focus, .vui-dropdown-menu > ul > li.vui-dropdown-menu-item-focus:last-child {
		border: 1px solid #dadada;
	}
	
	.d2l-button, .d2l-button[disabled]:focus, .d2l-button[disabled]:hover, .daylight .d2l-button-filter > ul > li > a, .vui-button, .vui-button.vui-disabled:focus, .vui-button.vui-disabled:hover, .vui-button:focus, .vui-button:hover, .vui-button:link, .vui-button:visited, .vui-button[disabled]:focus, .vui-button[disabled]:hover {
		background-color: #1c1c1c;
		border-color: #3e3e3e;
		color: #dadada;
		-moz-transition: all .2s ease-in-out;
		-webkit-transition: all .2s ease-in-out;
		transition: all .2s ease-in-out;
	}
	
	.daylight .d2l-button-filter > ul > li > a.d2l-button-filter-selected {
		background-color: #6498CE;
	}
	
	.d2l-button.d2l-button-hover, .d2l-button:hover, .d2l-button[primary].d2l-button-hover, .d2l-button[primary]:hover {
		background-color: #98cd97;
		color: #2d2d2d;
	}
	
	.daylight .d2l-iterator-button, .daylight .d2l-iterator-button.d2l-iterator-button-disabled:hover, .daylight .d2l-iterator-button.d2l-iterator-button-disabled:focus, .d2l-button[primary], .d2l-button[primary][disabled]:focus, .d2l-button[primary][disabled]:hover {
		background-color: #3e3e3e;
		border: none;
		-moz-transition: background .2s ease-in-out;
		-webkit-transition: background .2s ease-in-out;
		transition: background .2s ease-in-out;
	}
	
	.daylight .d2l-iterator-button:hover, .daylight .d2l-iterator-button:focus {
		background-color: #6498CE;
	}
	
	.vui-tabmenu > .vui-tabmenu-item-select > a {
		background-color: #1c1c1c;
		color: #dcdcdc;
	}
	
	.vui-tabmenu > .vui-tabmenu-item-select:last-child > a > .vui-tabmenu-item-blue, .vui-tabmenu > .vui-tabmenu-item-select > a > .vui-tabmenu-item-blue {
		background-color: #6498CE;
		border-color: #6498CE;
	}
	
		/*--- collapse pane ---*/
	.daylight .d2l-page-collapsepane-content, .daylight .d2l-page-collapsepane-content-inner, .d2l-accordion-header {
		background-color: #1c1c1c;
	}
	
	.daylight #ContentNavigator .vui-list > .vui-selected, .d2l-accordion-content, .d2l-accordion-header:focus, .d2l-accordion-header:hover.d2l-accordion-header:focus, .d2l-accordion-header:hover {
		background: transparent;
	}
	
	.d2l-accordion .d2l-accordion-content .d2l-containerlink {
		background-color: transparent;
	}
	
		/*--- grades page ---*/
	.d2l-table:not([style-scope]):not(.style-scope) > :not([style-scope]):not(.style-scope) > tr[header]:not([style-scope]):not(.style-scope) > th:not([style-scope]):not(.style-scope), .d2l-table:not([style-scope]):not(.style-scope) > thead:not([style-scope]):not(.style-scope) > tr:not([style-scope]):not(.style-scope) > th:not([style-scope]):not(.style-scope), d2l-thead:not([style-scope]):not(.style-scope) > d2l-tr:not([style-scope]):not(.style-scope) > d2l-th:not([style-scope]):not(.style-scope), d2l-tr[header]:not([style-scope]):not(.style-scope) > d2l-th:not([style-scope]):not(.style-scope) {
		background-color: #1c1c1c;
		color: #dcdcdc;
	}
	
	.d2l-table:not([style-scope]):not(.style-scope) > :not([style-scope]):not(.style-scope) > tr:not([style-scope]):not(.style-scope), d2l-tr:not([style-scope]):not(.style-scope) {
		background-color: #2d2d2d;
	}
	
		/*--- discussions ---*/
	.d2l-forum-details .d2l-htmlblock .dirContents .body {
		color: #ededed;
	}
	
	/*--- Sidebar ---*/
	.d2l-htmlblock div.results {
		padding: 10px !important;
	}
	
	/*--- Mobile ---*/
	.d2l-navigation-s-mobile-menu-content {
		background-color: #2d2d2d;
	}
	
	.d2l-navigation-s-mobile-menu-header {
		border-bottom-color: #000;
	}
}
