/* ==UserStyle==
@name           Dark /r/unixporn
@namespace      github.com/openstyles/stylus ; github.com/japorized
@version        0.1.0
@description    Sticking mostly to original colors; the rest are based on base16 eighties
@author         Japorized
==/UserStyle== */

@-moz-document url-prefix("https://www.reddit.com/r/unixporn/") {
	body {
		background: #2D2D2D;
	}
	
	body.listing-page > .content, .comments-page .link, :not(.child) > .sitetable > .comment, .side .titlebox, .side .sidecontentbox, .account-activity-box, .comments-page .side .linkinfo, .titlebox form.toggle, #search {
		background: #333333;
		color: #D3D0C8;
	}
	
	.titlebox::before {
		color: #D3D0C8;
	}
	
	.comments-page .side .linkinfo .score {
		color: #98CD97;
	}
	
	.nav-buttons .nextprev a {
		border: 1px solid #6498CE;
	}
	
	.link .usertext .md, .comment .usertext .md, .side .md .-blocks, .side .md .-lists, .side .md pre, .side .md blockquote, .side .md table, .side .md p, .side .md ul, .side .md ol {
		color: #D3D0C8;
	}
	
	.md h3 {
		color: #F47678;
	}
	
	.link .md pre {
		background-color: #2D2D2D;
	}
	
	.md pre {
		background: #2D2D2D;
		border: 1px solid #E2B552;
	}
	
	.md pre code {
		background: #2D2D2D;
	}
	
	.commentarea > .usertext {
		background: #333333;
	}
	
	.comment .author {
		color: #6498CE;
	}
	
	#search input[type="text"], .side .spacer input {
		background: #333333;
		color: #D3D0C8;
		transition: border .2s ease-in-out;
	}
	
	#search input[type="text"]:focus {
		border-width: 1px 1px 0px 1px;
		border-color: #CD98CD;
	}
	
	#search #searchexpando {
		background: #333333;
		color: #D3D0C8;
		height: auto;
	}
	
	#search #searchexpando label {
		padding: 5px 10px;
	}
}
